<!DOCTYPE html>
<html>
<head>
	<title>#{title}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<button class="btn-login" onclick="login()">Login</button>
		<a href="">Signup Here</a>





		script.
			function login(){
				var newElement = document.createElement("p");
				newElement.textContent = "Congratulation ! You have scucessfully completed the assignment.";
				document.body.appendChild(newElement);
				initialised = true; 
			}

</body>
</html>