<!DOCTYPE html>
<html>
<head>

	<title>#{title}</title>
</head>
<body>
	<button class="btn-login" onclick="login()">Login</button>
		<a href="">Signup Here</a>





		script.
			function login(){
				var newElement = document.createElement("p");
				newElement.textContent = "Congratulation ! You have scucessfully completed the assignment.";
				document.body.appendChild(newElement);
				initialised = true; 
			}

</body>
</html>