<!DOCTYPE html>
<html lang="en-US">
	<title>TS Drop down list Assignment</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	include ../include/head.pug  
	style.
		.drop-down-col{
			padding:50px 0px ;
			height:80vh;
			display:flex;
		}

<body>


include ../include/nav.pug  
	.container
		.row
			.col-12
				.drop-down-col
					<div>
						<h4>Single Select Dropdown List</h4>
						<label>Month</label>
						<select class="single-select">
							<option value="Jan">January</option>
							<option value="Feb">February</option>
							<option>March</option>
							<option>April</option>
							<option>May</option>
							<option>June</option>
							<option>July</option>
							<option>August</option>
							<option>September</option>
							<option>October</option>
							<option>November</option>
							<option>December</option>
						</select>
						<label>Skills</label>
						<select multiple="true" class = "multi-select">
							<option>Core Java</option>
							<option>Selenium WebDriver</option>
							<option>Selenium Grid</option>
							<option>REST API Automation</option>
							<option>Performance Testing using Jmeter</option>
						</select>
					</div>
					<div>
						<h4>Multi-select Dropdown List
					</div>
include ../include/footer.pug
</body>
</html>