<!DOCTYPE html>
<html>
<head>
	<title>Parent window</title>
</head>
<body>
	<h1>Frames Handling Demo</h1>
	<p>
		To solve this assignment, first enter username and then enter password. After entering a password, click on 'Login' button. When you will click on login button, you will see a Congratulations message. Print that message on console
	</p>
	<div>
		<iframe name="first-frame" style="border:none;" height="100px" width="400px" id="farme-1" src="TextBxContainer.html"></iframe>
	</div>
	<div>
		<iframe name="second-frame" style="border:none;" height="100px" id="farme-2" src="ButtonContainer.html"></iframe>
	</div>

</body>
</html>