<!DOCTYPE html>
<html>
	<head>
		<title>#{title}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<div>
			<input type="password" name="pass" placeholder="Enter password">
		</div>
	</body>
</html>