<!DOCTYPE html>
<html>
	<head>
		<title>Second Window</title>
	</head>
	<body>
		<div>
			<h2>Welcome to second window</h2>	
			<p>Click on Close button</p>
		</div>
		<div>
			<button id="close-btn" onClick=congratulations()>Close</button>
		</div>

		script.
			function congratulations(){
				var newElement = document.createElement("p");
			newElement.textContent = "Congratulation ! You have scucessfully completed the assignment.";
			document.body.appendChild(newElement);
			initialised = true; 
			}

	</body>
</html>