<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  style.
    .assignment-page{
    height: 20vh;
    margin: 100px 200px;
    text-align: center;
    background:#00000 !important;

    }
    h2{
    font-size:28px;
    }
    .alert-btn{
    padding: 5px 20px;
    background: #2d7fc7;
    border-radius: 30px;
    color:#ffffff;
    font-size:18px;
    }
    .alert-btn:hover{
      color:#2d7fc7;
      background:#fff;
      border:2px solid #2d7fc7;
      font-weight:600;  
    }
    #demo{
      margin-top:30px;
      color:#00000 !important;
      font-weight:bold;
      font-size:18px;
    }
    label{
      font-weight:bold;
      font-size:18px;
    }
    #user{
      color:#00000 !important;
    }
  <body>

include ../include/head.pug  

include ../include/nav.pug  

  <div class="assignment-page">
  <h2>Click the button to display an alert boxs.</h2>

  <label>Your Name:</label>
  <input id="user" name="YourName" />
  <div class="click-me" style = margin:30px>
  <button class="alert-btn" onclick="myFunction()">Click Me</button>
  </div>
  </div>



include ../include/footer.pug

  script.
    function myFunction() {
      var name=document.getElementById("user").value;
      alert("Hello "+name+"\nWelcome to Testing Shastra!");
    }

  </body>
</html>
