<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<input type="text" name="uname" placeholder="Enter username">
		<iframe src="PasswordContainer.html" height="40px" style="border: none;"></iframe>
	</div>
</body>
</html>