<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div>
		<input type="text" name="uname" placeholder="Enter username">
		<iframe src="PasswordContainer.html" height="120px" style="border: none;"></iframe>
	</div>
</body>
</html>