@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

p,
ul {
  margin: 0;
}

i {
  margin-right: 4px;
}

.mentor-section {
  position: relative !important;
  background-color: #1f598b;
  height: 60%;
  color: #fff;
  background-image: url(../images/background/dot-background-png-23.png);
  background-repeat: no-repeat;
  background-position: right bottom, center;
  background-size: 25% 90%;
  padding-bottom: 6em;
}

.mentor-section #enlighten-breadcrumb {
  margin-top: 2em;
}

.mentor-section .course-introduction {
  margin-top: 2em;
}

.mentor-section .course-introduction .course-title {
  font-size: 2.1em;
  -webkit-text-decoration: underline 0.08em;
          text-decoration: underline 0.08em;
  font-weight: 600;
  text-transform: capitalize;
}

.mentor-section .course-introduction .course-rating {
  margin: 0.5em;
}

.mentor-section .course-introduction .course-rating span:nth-child(2) {
  margin-left: 2.2em;
}

.mentor-section .course-introduction .course-description {
  width: 95%;
  margin-top: 2em;
  text-align: justify;
  font-size: 15px;
}

.mentor-section .course-introduction .highlighter {
  display: inline-block;
  margin-top: 1.5em;
  padding-left: 0.5em;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fb00ff00));
  background-image: linear-gradient(to right, #00dbde, #fb00ff00);
  line-height: 34px;
  border-radius: 5px;
}

.mentor-section .course-introduction .highlighter img {
  height: 20px;
  width: 20px;
}

.mentor-section .course-mentor {
  margin-top: 3em;
  text-align: center;
}

.mentor-section .course-mentor .mentor-img {
  margin-top: 2em;
  max-width: 10em;
  border: 2px solid #9b9b9b;
  border-radius: 50%;
  padding: 3px;
}

.mentor-section .course-mentor p {
  padding-top: 0.2em;
}

.key-feature {
  position: absolute;
  width: inherit;
  top: 85%;
  left: 9%;
  right: 9%;
  margin: auto;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(131, 128, 128, 0.158);
          box-shadow: 0px 0px 5px 5px rgba(131, 128, 128, 0.158);
  background-color: #fff;
  z-index: 55;
}

.key-feature h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 1em;
  color: #828282 !important;
}

.key-feature .after-affect-1 {
  width: 200px;
  margin: 0 auto;
  height: 16px;
  position: relative;
}

.key-feature .after-affect-1::before {
  background: url(../images/style1.png) no-repeat;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 0%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.key-feature .after-affect-1::after {
  background: #ececec;
  height: 1px;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 50%;
  content: "";
  left: 0;
  right: 0;
}

.key-feature .key-flex {
  padding: 1em 0em;
  -webkit-column-count: 3;
}

.key-feature .key-flex :nth-child(1),
.key-feature .key-flex :nth-child(2),
.key-feature .key-flex :nth-child(3),
.key-feature .key-flex :nth-child(4),
.key-feature .key-flex :nth-child(5),
.key-feature .key-flex :nth-child(6) {
  border-right: 2px solid rgba(182, 182, 182, 0.774);
}

.key-feature .key-flex li {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #828282;
  padding-bottom: 0.5em;
}

.course-detail {
  background-color: #f3f3f3;
}

.course-detail .row {
  padding-top: 3.5em;
}

.course-detail .left-body {
  margin-top: 5em;
}

.course-detail .left-body .course-info,
.course-detail .left-body .available-section,
.course-detail .left-body .course-benefits,
.course-detail .left-body .Syllabus-section {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px #e5e5e5;
          box-shadow: 0 5px 5px #e5e5e5;
  padding: 0.5em 2em;
  border: 1px solid #dfdfdf9c;
  background-color: #fff;
  margin-bottom: 2em;
}

.course-detail .left-body .course-info h3,
.course-detail .left-body .available-section h3,
.course-detail .left-body .course-benefits h3,
.course-detail .left-body .Syllabus-section h3 {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
  color: #828282 !important;
}

.course-detail .left-body .course-info .specification-list,
.course-detail .left-body .available-section .specification-list,
.course-detail .left-body .course-benefits .specification-list,
.course-detail .left-body .Syllabus-section .specification-list {
  -webkit-column-count: 2;
  padding: 1.5em 0;
}

.course-detail .left-body .course-info .specification-list li,
.course-detail .left-body .available-section .specification-list li,
.course-detail .left-body .course-benefits .specification-list li,
.course-detail .left-body .Syllabus-section .specification-list li {
  padding: 0.5em;
  font-size: 14px;
  line-height: 22px;
  text-indent: -1em;
  padding-left: 1em;
}

.course-detail .left-body .course-info .specification-list li::before,
.course-detail .left-body .available-section .specification-list li::before,
.course-detail .left-body .course-benefits .specification-list li::before,
.course-detail .left-body .Syllabus-section .specification-list li::before {
  content: "✓" !important;
  color: green;
  font-weight: 900;
  margin-right: 5px;
}

.course-detail .left-body .course-info .bottom-line,
.course-detail .left-body .available-section .bottom-line,
.course-detail .left-body .course-benefits .bottom-line,
.course-detail .left-body .Syllabus-section .bottom-line {
  height: 1px;
  margin: 0 auto 0.5em;
  background-color: rgba(182, 182, 182, 0.507);
  -webkit-filter: drop-shadow(1px 2px 1px rgba(182, 182, 182, 0.699));
          filter: drop-shadow(1px 2px 1px rgba(182, 182, 182, 0.699));
}

.course-detail .left-body .course-info .you-tube,
.course-detail .left-body .available-section .you-tube,
.course-detail .left-body .course-benefits .you-tube,
.course-detail .left-body .Syllabus-section .you-tube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.course-detail .left-body .course-info .you-tube h5,
.course-detail .left-body .available-section .you-tube h5,
.course-detail .left-body .course-benefits .you-tube h5,
.course-detail .left-body .Syllabus-section .you-tube h5 {
  text-align: center;
  color: #828282;
  text-transform: capitalize;
  font-size: 15px;
}

.course-detail .left-body .course-info .you-tube .move-right,
.course-detail .left-body .available-section .you-tube .move-right,
.course-detail .left-body .course-benefits .you-tube .move-right,
.course-detail .left-body .Syllabus-section .you-tube .move-right {
  padding: 0.5em 1em;
  background-color: #3f51b5;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 5px #cfcfcf;
          box-shadow: 0px 2px 5px #cfcfcf;
}

.course-detail .left-body .course-info .you-tube .move-right:hover,
.course-detail .left-body .available-section .you-tube .move-right:hover,
.course-detail .left-body .course-benefits .you-tube .move-right:hover,
.course-detail .left-body .Syllabus-section .you-tube .move-right:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #6270c2;
}

.course-detail .left-body .course-info .you-tube .move-right a,
.course-detail .left-body .available-section .you-tube .move-right a,
.course-detail .left-body .course-benefits .you-tube .move-right a,
.course-detail .left-body .Syllabus-section .you-tube .move-right a {
  color: #ffffff;
  text-decoration: none !important;
}

.course-detail .left-body .course-info .you-tube .move-right a i,
.course-detail .left-body .available-section .you-tube .move-right a i,
.course-detail .left-body .course-benefits .you-tube .move-right a i,
.course-detail .left-body .Syllabus-section .you-tube .move-right a i {
  margin-right: 5px !important;
}

.course-detail .left-body .course-info .available-sec-head,
.course-detail .left-body .available-section .available-sec-head,
.course-detail .left-body .course-benefits .available-sec-head,
.course-detail .left-body .Syllabus-section .available-sec-head {
  padding: 2em 1.5em 0;
}

.course-detail .left-body .course-info .available-sec-head h2,
.course-detail .left-body .available-section .available-sec-head h2,
.course-detail .left-body .course-benefits .available-sec-head h2,
.course-detail .left-body .Syllabus-section .available-sec-head h2 {
  font-size: 1.05em;
  color: #828282;
}

.course-detail .left-body .course-info .available-section-body,
.course-detail .left-body .available-section .available-section-body,
.course-detail .left-body .course-benefits .available-section-body,
.course-detail .left-body .Syllabus-section .available-section-body {
  padding: 2em 1.5em 0.5em;
}

.course-detail .left-body .course-info .available-section-body ul :last-child,
.course-detail .left-body .available-section .available-section-body ul :last-child,
.course-detail .left-body .course-benefits .available-section-body ul :last-child,
.course-detail .left-body .Syllabus-section .available-section-body ul :last-child {
  background-color: #142bad;
  float: right;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px #cfcfcf;
          box-shadow: 0px 2px 5px #cfcfcf;
}

.course-detail .left-body .course-info .available-section-body ul :last-child::after,
.course-detail .left-body .available-section .available-section-body ul :last-child::after,
.course-detail .left-body .course-benefits .available-section-body ul :last-child::after,
.course-detail .left-body .Syllabus-section .available-section-body ul :last-child::after {
  clear: both !important;
}

.course-detail .left-body .course-info .available-section-body ul :last-child i,
.course-detail .left-body .available-section .available-section-body ul :last-child i,
.course-detail .left-body .course-benefits .available-section-body ul :last-child i,
.course-detail .left-body .Syllabus-section .available-section-body ul :last-child i {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0.2em 0.5em;
}

.course-detail .left-body .course-info .available-section-body ul li,
.course-detail .left-body .available-section .available-section-body ul li,
.course-detail .left-body .course-benefits .available-section-body ul li,
.course-detail .left-body .Syllabus-section .available-section-body ul li {
  cursor: text;
  display: inline-block;
  vertical-align: top;
  padding: 8px 15px;
  background-color: #3f51b5;
  color: #ffffff;
  border-radius: 50px;
  margin: 0px 5px 5px 0px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 5px #cfcfcf;
          box-shadow: 0px 2px 5px #cfcfcf;
}

.course-detail .left-body .course-info .available-section-body ul :hover,
.course-detail .left-body .available-section .available-section-body ul :hover,
.course-detail .left-body .course-benefits .available-section-body ul :hover,
.course-detail .left-body .Syllabus-section .available-section-body ul :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.course-detail .left-body .course-info .benefits-head,
.course-detail .left-body .available-section .benefits-head,
.course-detail .left-body .course-benefits .benefits-head,
.course-detail .left-body .Syllabus-section .benefits-head {
  padding: 0.5em 1em;
  color: #828282;
  font-size: 18px;
  text-align: left !important;
  text-transform: capitalize;
  margin: 0;
}

.course-detail .left-body .course-info .benefits-list,
.course-detail .left-body .available-section .benefits-list,
.course-detail .left-body .course-benefits .benefits-list,
.course-detail .left-body .Syllabus-section .benefits-list {
  padding: 0em 1em 1em;
}

.course-detail .left-body .course-info .benefits-list li,
.course-detail .left-body .available-section .benefits-list li,
.course-detail .left-body .course-benefits .benefits-list li,
.course-detail .left-body .Syllabus-section .benefits-list li {
  list-style: decimal;
  font-size: 15px;
  color: #828282;
  padding: 0.5em;
}

.course-detail .left-body .course-info .Syllabus-header h3,
.course-detail .left-body .available-section .Syllabus-header h3,
.course-detail .left-body .course-benefits .Syllabus-header h3,
.course-detail .left-body .Syllabus-section .Syllabus-header h3 {
  font-size: 22px;
}

.course-detail .left-body .course-info .Syllabus-sub-header h3,
.course-detail .left-body .available-section .Syllabus-sub-header h3,
.course-detail .left-body .course-benefits .Syllabus-sub-header h3,
.course-detail .left-body .Syllabus-section .Syllabus-sub-header h3 {
  font-size: 17px;
  color: #53579b !important;
  text-align: left;
}

.course-detail .left-body .course-info .Syllabus-sub-header ul,
.course-detail .left-body .available-section .Syllabus-sub-header ul,
.course-detail .left-body .course-benefits .Syllabus-sub-header ul,
.course-detail .left-body .Syllabus-section .Syllabus-sub-header ul {
  padding: 0.5em 2em;
}

.course-detail .left-body .course-info .Syllabus-sub-header ul li,
.course-detail .left-body .available-section .Syllabus-sub-header ul li,
.course-detail .left-body .course-benefits .Syllabus-sub-header ul li,
.course-detail .left-body .Syllabus-section .Syllabus-sub-header ul li {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  list-style-type: disc;
  text-transform: capitalize;
}

.course-detail .left-body .course-info .syllabus-body,
.course-detail .left-body .available-section .syllabus-body,
.course-detail .left-body .course-benefits .syllabus-body,
.course-detail .left-body .Syllabus-section .syllabus-body {
  padding: 1em;
  background-color: #f3f3f3;
  margin: 1em 0;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #bebebe62;
          box-shadow: 1px 1px 1px #bebebe62;
}

.course-detail .left-body .course-info .syllabus-body h3,
.course-detail .left-body .available-section .syllabus-body h3,
.course-detail .left-body .course-benefits .syllabus-body h3,
.course-detail .left-body .Syllabus-section .syllabus-body h3 {
  color: #142bad !important;
  text-transform: capitalize;
  margin: 1em;
}

.course-detail .left-body .course-info .syllabus-body .after-affect-1,
.course-detail .left-body .available-section .syllabus-body .after-affect-1,
.course-detail .left-body .course-benefits .syllabus-body .after-affect-1,
.course-detail .left-body .Syllabus-section .syllabus-body .after-affect-1 {
  width: 200px;
  margin: 10px auto;
  height: 16px;
  position: relative;
}

.course-detail .left-body .course-info .syllabus-body .after-affect-1::before,
.course-detail .left-body .available-section .syllabus-body .after-affect-1::before,
.course-detail .left-body .course-benefits .syllabus-body .after-affect-1::before,
.course-detail .left-body .Syllabus-section .syllabus-body .after-affect-1::before {
  background: url(../images/style1.png) no-repeat;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 0%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.course-detail .left-body .course-info .syllabus-body .after-affect-1::after,
.course-detail .left-body .available-section .syllabus-body .after-affect-1::after,
.course-detail .left-body .course-benefits .syllabus-body .after-affect-1::after,
.course-detail .left-body .Syllabus-section .syllabus-body .after-affect-1::after {
  background: #ececec;
  height: 1px;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 50%;
  content: "";
  left: 0;
  right: 0;
}

.course-detail .left-body .course-info .syllabus-body .syllabus-list ol,
.course-detail .left-body .available-section .syllabus-body .syllabus-list ol,
.course-detail .left-body .course-benefits .syllabus-body .syllabus-list ol,
.course-detail .left-body .Syllabus-section .syllabus-body .syllabus-list ol {
  counter-reset: section;
  list-style: none !important;
  margin-bottom: 5px;
}

.course-detail .left-body .course-info .syllabus-body .syllabus-list ol li,
.course-detail .left-body .available-section .syllabus-body .syllabus-list ol li,
.course-detail .left-body .course-benefits .syllabus-body .syllabus-list ol li,
.course-detail .left-body .Syllabus-section .syllabus-body .syllabus-list ol li {
  font-size: 14px;
  line-height: 20px;
  list-style: none !important;
  font-weight: 600;
  text-transform: capitalize;
}

.course-detail .left-body .course-info .syllabus-body .syllabus-list ol li a,
.course-detail .left-body .available-section .syllabus-body .syllabus-list ol li a,
.course-detail .left-body .course-benefits .syllabus-body .syllabus-list ol li a,
.course-detail .left-body .Syllabus-section .syllabus-body .syllabus-list ol li a {
  color: #142bad;
}

.course-detail .left-body .course-info .syllabus-body .syllabus-list ol li a:hover,
.course-detail .left-body .available-section .syllabus-body .syllabus-list ol li a:hover,
.course-detail .left-body .course-benefits .syllabus-body .syllabus-list ol li a:hover,
.course-detail .left-body .Syllabus-section .syllabus-body .syllabus-list ol li a:hover {
  color: #3f51b5;
}

.course-detail .left-body .course-info .syllabus-body .syllabus-list ol li::before,
.course-detail .left-body .available-section .syllabus-body .syllabus-list ol li::before,
.course-detail .left-body .course-benefits .syllabus-body .syllabus-list ol li::before,
.course-detail .left-body .Syllabus-section .syllabus-body .syllabus-list ol li::before {
  counter-increment: section;
  content: counters(section, ".") " : ";
  margin-right: 5px;
}

.course-detail .left-body .course-info .download-syllabus,
.course-detail .left-body .available-section .download-syllabus,
.course-detail .left-body .course-benefits .download-syllabus,
.course-detail .left-body .Syllabus-section .download-syllabus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-detail .left-body .course-info .download-syllabus a,
.course-detail .left-body .available-section .download-syllabus a,
.course-detail .left-body .course-benefits .download-syllabus a,
.course-detail .left-body .Syllabus-section .download-syllabus a {
  background-color: #3f51b5;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.course-detail .left-body .course-info .download-syllabus a:link,
.course-detail .left-body .course-info .download-syllabus a :visited,
.course-detail .left-body .course-info .download-syllabus a :active,
.course-detail .left-body .available-section .download-syllabus a:link,
.course-detail .left-body .available-section .download-syllabus a :visited,
.course-detail .left-body .available-section .download-syllabus a :active,
.course-detail .left-body .course-benefits .download-syllabus a:link,
.course-detail .left-body .course-benefits .download-syllabus a :visited,
.course-detail .left-body .course-benefits .download-syllabus a :active,
.course-detail .left-body .Syllabus-section .download-syllabus a:link,
.course-detail .left-body .Syllabus-section .download-syllabus a :visited,
.course-detail .left-body .Syllabus-section .download-syllabus a :active {
  color: #ffffff;
}

.course-detail .left-body .course-info .download-syllabus a:hover,
.course-detail .left-body .available-section .download-syllabus a:hover,
.course-detail .left-body .course-benefits .download-syllabus a:hover,
.course-detail .left-body .Syllabus-section .download-syllabus a:hover {
  background-color: #ffffff;
  color: #3f51b5;
  border: 1px solid #3f51b5;
}

.course-detail .left-body .course-info .download-syllabus a i,
.course-detail .left-body .available-section .download-syllabus a i,
.course-detail .left-body .course-benefits .download-syllabus a i,
.course-detail .left-body .Syllabus-section .download-syllabus a i {
  margin-left: 5px;
}

.course-detail .right-body {
  margin-top: 5em;
}

.course-detail .right-body .contact-us,
.course-detail .right-body .student-review {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px #e5e5e5;
          box-shadow: 0 5px 5px #e5e5e5;
  padding: 0.5em 2em;
  border: 1px solid #dfdfdf9c;
  background-color: #fff;
  margin-bottom: 2em;
}

.course-detail .right-body .contact-us .form-header,
.course-detail .right-body .student-review .form-header {
  text-align: center;
}

.course-detail .right-body .contact-us .form-header .text,
.course-detail .right-body .student-review .form-header .text {
  padding: 1em 0.5em 0.5em;
  font-weight: 500;
  color: #828282 !important;
}

.course-detail .right-body .contact-us .form-header small,
.course-detail .right-body .student-review .form-header small {
  color: #828282;
}

.course-detail .right-body .contact-us .form-body,
.course-detail .right-body .student-review .form-body {
  text-align: center;
}

.course-detail .right-body .contact-us .form-body .call-number,
.course-detail .right-body .student-review .form-body .call-number {
  display: inline-block;
  background-color: #3f51b5;
  font-size: 15px;
  padding: 0.5em 0.9em;
  border-radius: 50px;
  margin: 0.8em 0;
}

.course-detail .right-body .contact-us .form-body .call-number a,
.course-detail .right-body .student-review .form-body .call-number a {
  color: rgba(255, 255, 255, 0.836);
  text-decoration: none;
}

.course-detail .right-body .contact-us .form-body .call-number i,
.course-detail .right-body .student-review .form-body .call-number i {
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
}

.course-detail .right-body .contact-us .form-body .input-group,
.course-detail .right-body .student-review .form-body .input-group {
  padding-bottom: 10px;
}

.course-detail .right-body .contact-us .form-body .input-group:last-child,
.course-detail .right-body .student-review .form-body .input-group:last-child {
  padding: 0;
}

.course-detail .right-body .contact-us .form-body .input-group .form-control,
.course-detail .right-body .student-review .form-body .input-group .form-control {
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #9fa8dd;
}

.course-detail .right-body .contact-us .form-body .input-group .form-control:focus,
.course-detail .right-body .student-review .form-body .input-group .form-control:focus {
  outline: 0px !important;
  border-bottom: 1.7px solid #ff0000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.course-detail .right-body .contact-us .form-body .input-group .submit,
.course-detail .right-body .student-review .form-body .input-group .submit {
  margin: 1em auto;
  padding: 0.3em 1.5em;
  background-color: #3f51b5;
  border: 1.8px solid transparent;
  border-radius: 50px;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.course-detail .right-body .contact-us .form-body .input-group .submit:hover,
.course-detail .right-body .student-review .form-body .input-group .submit:hover {
  background-color: #ffffff;
  color: #3f51b5;
  font-weight: 500;
  border: 1.8px solid #3f51b5af;
}

.course-detail .right-body .contact-us .form-body .input-group .submit:focus,
.course-detail .right-body .student-review .form-body .input-group .submit:focus {
  outline: 0 !important;
}

.course-detail .right-body .student-review {
  max-height: 150vh;
  overflow-y: auto;
}

.course-detail .right-body .student-review::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 12px rgba(159, 213, 226, 0.699);
          box-shadow: inset 0 0 12px rgba(159, 213, 226, 0.699);
}

.course-detail .right-body .student-review::-webkit-scrollbar {
  width: 5px;
  cursor: pointer !important;
}

.course-detail .right-body .student-review::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20.2%, #5f5fce), color-stop(100.2%, #00d4ff));
  background-image: linear-gradient(180deg, #5f5fce 20.2%, #00d4ff 100.2%);
}

.course-detail .right-body .student-review .card-head {
  padding: 15px 35px 5px;
}

.course-detail .right-body .student-review .card-head h6 {
  color: #828282;
  font-size: 15px;
  text-align: center;
  line-height: 22px;
  margin: 0px;
  text-transform: capitalize;
}

.course-detail .right-body .student-review .review-section {
  padding: 15px 10px;
  border-bottom: 1px solid #c9c9c9;
}

.course-detail .right-body .student-review .review-section:last-child {
  border: 0px !important;
}

.course-detail .right-body .student-review .review-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #828282;
  text-indent: 20px;
  text-align: justify;
}

.course-detail .right-body .student-review .review-section p::first-letter {
  text-transform: uppercase;
}

.course-detail .right-body .student-review .review-section .student-img {
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.course-detail .right-body .student-review .review-section .student-img img {
  max-width: 4em;
  border-radius: 0% 100% 75% 64% / 42% 83% 66% 100%;
  -webkit-box-shadow: 5px 5px 5px #e2e1e1;
          box-shadow: 5px 5px 5px #e2e1e1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.course-detail .right-body .student-review .review-section .student-img img::after {
  clear: both !important;
}

.course-detail .right-body .student-review .review-section .student-img img:hover {
  -webkit-box-shadow: lightgray 5px -5px, #e4e4e4 10px -10px, whitesmoke 15px -15px;
          box-shadow: lightgray 5px -5px, #e4e4e4 10px -10px, whitesmoke 15px -15px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.course-detail .right-body .student-review .review-section .student-info span {
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
}

.course-detail .right-body .student-review .review-section .student-info p {
  text-indent: 0px;
}

.course-detail .right-body .student-review .review-section .student-rating i {
  color: #f7be13;
  font-size: 14px;
}
/*# sourceMappingURL=updated.css.map */