<!DOCTYPE html>
<html lang="en-US">
	include ../include/head.pug
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<body class="page-template-default page page-id-242 wp-custom-logo">
		style.
			body{
				font-family: 'Titillium Web', sans-serif;
			}
			.header-banner-container {
				background-color: #2d7fc7;
				background-repeat: no-repeat;
			}


			.main-navigation a {
				font-family: Open Sans;
			}
			.assignment-list{
				padding:20px 0 ;
			}
			.assignment-list >ul{
				margin-top:30px;
			}			
			.assignment-list >ul>li {
				margin-top:10px;
				font-size:15px;
			}
			.assignment-list> ul>li>a:hover{
				color:#000000;	
			}	
			.header-banner-container:after{
				background:#f3f3f3;
			}
			.outer-div{
				background:#ffffff;
				width:100%;
				padding:30px;
				box-shadow:0px 0px 5px #c3c3c39a;
				border-radius:5px;
			}
			#ul-style{
				color:#000;
			}
			a:hover{
				color:#2d7fc7 ! important;
			}
			.card-header {
				padding: .75rem 1.25rem;
				margin-bottom: 0;
				background-color: rgb(45 127 199);
				border-bottom: 1px solid rgba(0,0,0,.125);
				cursor:pointer;
			}

			.btn,.btn:visited,.btn:hover{
				box-shadow:none;
				text-decoration:none !important;
				color:#fff;
				font-size:20px;
				text-transform:capitalize;
			}	
			.activeFa {
				transform: rotate(180deg) !important;
				//- transition: rotate 0.2s
			}
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="#main">Skip to content</a>
		<header id="masthead" class="site-header" role="banner">
			include ../include/nav.pug
		</header><!-- #masthead -->

		<div class="header-banner-container">
			<div class="ak-container">
				<div class="page-title-wrap">
					<div class="outer-div">
						<h1 class="page-title" style="color:#000">Assignments</h1>
						<div id="enlighten-breadcrumb" style="color:#000"><a href="/" style="color:#000">Home</a> &gt; <span class="current">Assignments</span></div>
						<div class="assignment-list" >
							<div id="accordion">
								<div class="card">
									<div class="card-header" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<h5 class="mb-0">
										<i class="fa fa-chevron-down" id="rotate" aria-hidden="true"></i>	
										<button class="btn btn-link">selenium</button>
									</h5>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
									<div class="card-body">
										<ul type="disc" id="ul-style">	
											<li><a  href="/assignments/confirmation-alert">confirmation alert</a></li>
											<li><a  href="/assignments/prompt"> prompt alert</a></li>
											<li><a  href="/assignments/simple-alert"> simple alert</a></li>
											<li><a  href="/assignments/windowHandlingDemo">Window Handling Demo</a></li>
											<li><a  href="/assignments/parent-window">Frame Handling Demo</a></li>
											<li><a  href="/assignments/drag-and-drop">Drag And Drop Assignment</a></li>	
											<li><a  href="/assignments/drop-down">DropDown List Assignment</a></li>
											<li><a  href="/assignments/Tooltip">ToolTip Assignment</a></li>
										</ul>
									</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h5 class="mb-0">
										<i class="fa fa-chevron-down" aria-hidden="true"></i>	
										<button class="btn btn-link collapsed" >javaScript</button>
									</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
									<div class="card-body">
										<ul type="disc" id="ul-style">	
											<li><a  href="/assignments/confirmation-alert">confirmation alert</a></li>
											<li><a  href="/assignments/prompt"> prompt alert</a></li>
											<li><a  href="/assignments/simple-alert"> simple alert</a></li>
											<li><a  href="/assignments/windowHandlingDemo">Window Handling Demo</a></li>
											<li><a  href="/assignments/parent-window">Frame Handling Demo</a></li>
											<li><a  href="/assignments/drag-and-drop">Drag And Drop Assignment</a></li>	
											<li><a  href="/assignments/drop-down">DropDown List Assignment</a></li>
											<li><a  href="/assignments/Tooltip">ToolTip Assignment</a></li>
										</ul>											
									</div>
									</div>
								</div>
									<div class="card">
										<div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<h5 class="mb-0">
											<i class="fa fa-chevron-down"  aria-hidden="true"></i>	
											<button class="btn btn-link collapsed">core java</button>
										</h5>
										</div>
										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card-body">
											<ul type="disc" id="ul-style">	
												<li><a  href="/assignments/confirmation-alert">confirmation alert</a></li>
												<li><a  href="/assignments/prompt"> prompt alert</a></li>
												<li><a  href="/assignments/simple-alert"> simple alert</a></li>
												<li><a  href="/assignments/windowHandlingDemo">Window Handling Demo</a></li>
												<li><a  href="/assignments/parent-window">Frame Handling Demo</a></li>
												<li><a  href="/assignments/drag-and-drop">Drag And Drop Assignment</a></li>	
												<li><a  href="/assignments/drop-down">DropDown List Assignment</a></li>
												<li><a  href="/assignments/Tooltip">ToolTip Assignment</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>


	include ../include/footer.pug
		</div><!-- #page -->

		<link rel='stylesheet' id='enlighten-lite-dynamic-fonts-css' href='https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&#038;ver=4.9.8' type='text/css' media='all' />
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		script.
			//- var acc = document.getElementsByClassName("card-header");
			//- //- var faDown = document.getElementsById("rotate");
			//- for (var i = 0; i < acc.length; i++) {
			//- 	acc[i].addEventListener("click", function() {
			//- 		console.log("hi");
			//- 		document.getElementsById("rotate").classList.add("activeFa");
			//- 	});
			//- }

	</body>
</html>