<!DOCTYPE html>
<html lang="en-US">
	include ../include/head.pug
<body class="page-template-default page page-id-242 wp-custom-logo">
	link(rel="stylesheet", href="https://demo.accesspressthemes.com/enlighten/wp-content/plugins/ultimate-form-builder-lite/css/frontend.css?ver=1.3.9")
	style.
		.header-banner-container {
			background-image: url(https://demo.accesspressthemes.com/enlighten/wp-content/uploads/2016/05/2016-11-30-1.jpg);
			background-repeat: no-repeat;
		}

		.title_two,
		.portfolio_slider_wrap .anchor_title_wrap a:hover,
		#section_achieve .bg_achieve .wrap_counter .counter_count,
		#section_faq_testimonial .faq_wrap .faq_title,
		#section_faq_testimonial .test_wrap .title_test,
		#section_cta .button_cta a:hover,
		.entry-footer a:hover,
		.entry-footer a:focus,
		.entry-footer a:active,
		ul#follow_us_contacts li a:hover i,
		.rn_title a:hover,
		.woocommerce ul.products li.product .price,
		.woocommerce div.product p.price,
		.woocommerce div.product span.price {
			color: #2D7FC7;
		}

		.widget ul li:hover:after,
		.widget ul li a:hover,
		#secondary .footer_RN_wrap .tn_title a:hover,
		#primary .entry-title a:hover,
		.contact-info-wrap ul li a:hover {
			color: rgba(45, 127, 199, 0.8);
		}

		.main-navigation,
		.main-navigation.top ul ul,
		#section_service .service_slider.owl-carousel,
		.wrap_video .video_wrap .play-pause-video,
		#section_cta,
		.recent_news .rn_title_content .ln_date,
		#section_news_twitter_message .twitter_wrap,
		.faq_dot:before,
		.main-navigation ul ul.sub-menu>li>a,
		.search-form:before,
		#secondary h2.widget-title:before,
		.nav-links a,
		.contact-form-wrap form input[type="submit"],
		.woocommerce span.onsale,
		.woocommerce #respond input#submit,
		.woocommerce #respond input#submit.alt,
		.woocommerce a.button.alt,
		.woocommerce button.button.alt,
		.woocommerce input.button.alt,
		.woocommerce-account .woocommerce-MyAccount-navigation ul {
			background: #2D7FC7;
		}

		.service_slider .content_wrap .title_content_service {
			color: #d5e5f4;
		}

		.service_slider.owl-carousel .owl-controls .owl-nav div {
			color: #d5e5f4;
		}

		.service_slider .content_wrap:after {
			background: #abcce9;
		}

		.service_slider.owl-carousel:before,
		#section_cta .title_section_cta,
		.twitter_wrap .aptf-single-tweet-wrapper {
			border-color: #abcce9;
		}

		#section_news_twitter_message .recent_news .rn_content_loop .rn_image,
		.contact-form-wrap form input[type="submit"]:hover,
		#section_news_twitter_message .recent_news .rn_content_loop .rn_image:hover span,
		.woocommerce #respond input#submit.alt:hover,
		.woocommerce a.button.alt:hover,
		.woocommerce button.button.alt:hover,
		.woocommerce input.button.alt:hover {
			background: rgba(45, 127, 199, 0.65);
		}

		.main-navigation ul ul li,
		.main-navigation ul ul ul li {
			background: rgba(45, 127, 199, 0.8);
		}

		.portfolio_slider_wrap.owl-carousel .owl-controls .owl-dot.active span,
		.portfolio_slider_wrap.owl-carousel .owl-controls .owl-dot span:hover,
		#section_faq_testimonial .faq_cat_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
		#section_faq_testimonial .faq_cat_wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
		#secondary .search-form .search-submit,
		#primary .error-404.not-found .search-form .search-submit,
		.not-found .search-form .search-submit,
		.site-footer .widget_search .search-submit,
		ul#follow_us_contacts li a:hover i {
			border-color: #2D7FC7;
		}

		.woocommerce-account .woocommerce-MyAccount-navigation ul li {
			border-color: #abcce9
		}

		#section_news_slide,
		#section_faq_testimonial .test_faq_wrap .faq_question.expanded .plus_minus_wrap,
		#section_faq_testimonial .test_faq_wrap .faq_question.expanded .plus_minus_wrap:before,
		#section_news_twitter_message .recent_news .rn_title,
		#section_news_twitter_message .messag_wrap .rn_title {
			background: #2D7FC7;
		}

		body,
		body p {
			font-family: Lato;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: Titillium Web;
		}

		.main-navigation a {
			font-family: Open Sans;
		}
	<div id="page" class="site">
		<a class="skip-link screen-reader-text" href="#main">Skip to content</a>

		<header id="masthead" class="site-header" role="banner">
			include ../include/nav.pug
		</header><!-- #masthead -->

		<!-- Header Banner -->
		<div class="header-banner-container">
			<div class="ak-container">
				<div class="page-title-wrap">
					<h1 class="page-title">Contact Us</h1>
					<div id="enlighten-breadcrumb"><a href="https://demo.accesspressthemes.com/enlighten">Home</a> &gt; <span class="current">Contact Us</span></div>
				</div>
			</div>
		</div>

		<div id="content" class="site-content">
			<div class="ak-container-no ak-container">
				<div id="primary" class="content-area no">
					<main id="main" class="site-main" role="main">


						<article id="post-242" class="post-242 page type-page status-publish hentry">
							<div class="entry-content">
								<div class="contact-map-wrap">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.833580674031!2d73.81652531465234!3d18.581540072156987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b99d6a302c99%3A0xb4925c9ac6fa441e!2sTesting+Shastra!5e0!3m2!1sen!2sin!4v1544287515092" width="1170" height="320" frameborder="0" style="border:0" allowfullscreen=""></iframe>
								</div>
								<div class="contact-info-wrap">
									<h3>Address</h3>
									<ul id="contact-info">
										<li><i class="icon-home"></i>101, S.No. 44/2/42, Lane No. 3, Vidya Nagar, Pimple-Gurav
											| Pune-411061
											| Maharashtra, India</li>
										<li><i class="icon-phone"></i>+91-9130502135</li>
										<li><i class=" icon-email"></i> <a href="mailto:info@testingshastra.com">info@testingshastra.com</a></li>
									</ul>
									<hr>
									<h3>Follow us</h3>
									<p>Let us connect on social media. Click on links below.</p>
									<ul id="follow_us_contacts">
										<li><a href="https://www.facebook.com/ts.avinashpingale/"><i class="icon-facebook"></i>Facebook</a></li>
										<li><a href="https://testingshastra.wordpress.com/"><i class="icon-twitter"></i>Blog</a></li>
										<li><a href="https://plus.google.com/u/0/110526427877425970723"><i class=" icon-google"></i>GooglePlus</a></li>
									</ul>
								</div>
								<div class="contact-form-wrap">
									<div class="ufbl-form-wrapper ufbl-default-template" style="width:100%;">
										<form id="id-contact-us-form" method="post" class="ufbl-front-form">
											<div class="ufbl-form-title">Contact us</div> 
											<div class="ufbl-form-field-wrap ">
												<label>Your Name</label>
												<div class="ufbl-form-field">
													<input type="text" name="contactName" class="ufbl-form-textfield " data-max-chars="" data-min-chars="" data-error-message="" placeholder="" value="">
													<div class="ufbl-error" data-error-key="ufbl_field_1"></div>
												</div>
											</div>
											<div class="ufbl-form-field-wrap ">
												<label>Email ID</label>
												<div class="ufbl-form-field">
													<input type="text" name="contactEmailId" class="ufbl-form-textfield " data-max-chars="" data-min-chars="" data-error-message="" placeholder="" value="">
													<div class="ufbl-error" data-error-key="ufbl_field_1"></div>
												</div>
											</div>
											<div class="ufbl-form-field-wrap ">
												<label>Phone Number</label>
												<div class="ufbl-form-field">
													<input type="text" name="contactPhoneNumber" class="only-number ufbl-form-textfield " data-max-chars="" data-min-chars="" data-error-message="" placeholder="" value="">
													<div class="ufbl-error" data-error-key="ufbl_field_1"></div>
												</div>
											</div>


											<div class="ufbl-form-field-wrap ">
												<label>Message</label>
												<div class="ufbl-form-field">
													<textarea name="contactMessage" class="ufbl-form-textarea " data-max-chars="" data-min-chars="" data-error-message="" rows="5" cols="10" placeholder=""></textarea>
													<div class="ufbl-error" data-error-key="ufbl_field_3"></div>
												</div>
											</div>
											<div class="ufbl-form-field-wrap ">
												<div class="ufbl-form-field">
													<input type="submit" id="btnSubmit" class="ufbl-form-submit" name="ufbl_field_4" value="Submit">
													<span class="ufbl-form-loader" style="display:none"></span>
												</div>
											</div>
											<div class="ufbl-form-message" style="display: none;"></div>
										</form>
									</div>
								</div>
							</div><!-- .entry-content -->

							<footer class="entry-footer">
							</footer><!-- .entry-footer -->
						</article><!-- #post-## -->

					</main>
				</div><!-- #primary -->
			</div>

		</div><!-- #content -->
		include ../include/footer.pug
	</div><!-- #page -->

	<link rel='stylesheet' id='enlighten-lite-dynamic-fonts-css' href='https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&#038;ver=4.9.8' type='text/css' media='all' />
	<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3'></script>
	<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215'></script>
	<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215'></script>
	<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
	script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js") 
	script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
	script(src="/js/jquery-validation/jquery.validate.min.js") 
	script(src="/js/jquery-validation/additional-methods.min.js") 
	script(src="/js/handlers/contact-us.handler.js")
</body>

</html>