<!DOCTYPE html>
<html lang="en-US">
head
	include ../include/head.pug
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
	link(rel="stylesheet", href="/css/updated.css")
	//- title Java Full Stack

	body
	include ../include/nav.pug
		section.mentor-section
			.container
				.row
					.col-lg-8
						#enlighten-breadcrumb
							a(href="/") Home  > 
								span.current Cours  > 
								span.current React
						.course-introduction
							p.course-title Java Selenium Automation testing
							.course-rating
								span
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star-half-o(aria-hidden="true")
								|355 Ratings
								span 3065 Learners
							p.course-description A complete hands-on course which covers scripting using Core Java and basic-to-advanced concepts of Selenium WebDriver. Test automation is an enormous time-saver, and it's crucial to continuous integration, continuous delivery, and agile software development.							
							span.highlighter
								img(src="/images/background/verification.png", alt)
								|100% Job Guarantee | Minimum CTC: ₹ 5 LPA
					.col-lg-4
						.course-mentor
							.mentor
								img.mentor-img(src="/images/team/image1-home5-e1591723182560.png", alt )
							p.mentor-name Avinash pingle
							p.mentor-rating
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star(aria-hidden="true")
								i.fa.fa-star-half-o(aria-hidden="true")
							p.mentor-designation Java Developer (6.5 Y)
		.container
			.row
				.key-feature
					h3 key-feature
					.after-affect-1

					ul.key-flex
						li 100Hrs of Hands-on training 
						li Flexible weekend trainings
						li Complete Core Java  
						li including Collection Framework
						li Selenium WebDriver 3.0
						li Start-To-End Framework Designing 
						li Addon tools like, Maven, Git and Jenkins
						li Live Project
						li Duration: 3.5 Months
		section.course-detail
			.container
				.row
					.col-lg-8
						.left-body
							.course-info
								div
									h3 Why Learn java-Selenium Course in Pune at Testing Shastra
									ul.specification-list
										li After completing every topic you will get the practical assignments for the practice.
										li Post course completion candidate get the support.
										li 100% Practical Oriented Sessions.
										li Get best java classes in Pune at Testing Shastra.
										li Project Based Learning.
										li Provide ready to deploy candidates to the company.
										li 120+ Students Placed in different Organizations.
										li Provide ready to deploy candidates to the company.
								.bottom-line
								.you-tube
									h5 watch our demo session on YouTube
									.move-right
										a(href="https://www.youtube.com/channel/UCg_SUG_BAPtVUvTSKse2xBg/search?query=day-1" target="blank")
											i.fa.fa-youtube-play(aria-hidden="true")  Click Here Now To Get Your Free Demo
							.available-section
								.available-sec-head
									h2 Java-Selenium Course Available In:
								.available-section-body
									ul
										li class room
										li online
										li weekend batch
										li regular batch
										li syllabus 
											i.fa.fa-chevron-down(aria-hidden="true")
							.course-benefits
								h4.benefits-head course-benefits
								.bottom-line
								ul.benefits-list
									li By the end of this course you will be able to automate any web application using Java and Selenium. 
									li You will be able to design different Test Automation Frameworks like: Keyword Driven Framework, Page Object Model, BDD using Cucumber etc based on client requirement. 
									li You will be able to generate content rich reports using reporting tool like Allure.
									li Atlast, you can crack any interview in the field of Automation Testing and can successfully secure a position in IT.
							.Syllabus-section
								.Syllabus-header
									h3 Java-Selenium Course Syllabus
									.bottom-line
								.Syllabus-sub-header
									h3 Java-Selenium automation testing Course
									ul
										li Introduction to Core Java
										li Complete Object Oriented Programming Concepts with implementation
										li Exception Handling
										li Collection Framework	
										li Basics of Selenium WebDriver 3.0
										li Advanced concepts of Selenium WebDriver 3.0
										li Complete TestNG Framework
										li Parallel execution of Tests using TestNG
										li Cross Browser Testing using TestNG
										li Groups in TestNG
										li TestNG Reports
										li Keyword Driven Framework
										li Data Driven Framework
										li Page Object Model Design Pattern
										li Complete Cucumber-5 (From basic to advanced)
										li Blending Keyword Driven, Page Object Model and Cucumber Frameworks to form a Hybrid Framework
										li Maven
										li Source Code Management using GitHub
										li CI/CD using Jenkins
										li Agile Scrum Methodology
								.syllabus-body 
									h3 Core Java 
									.after-affect-1
									.syllabus-list
										ol
											li introduction to java 
											li intallation of java in window and Mac 
											li Data type and operators 
											li writing first java program 
											li introduction to class  
											li control statement (For, While, Do-While, For-Each etc.)  
											li Array (Single Dimension, Multi-Dimension).  
											li Object Oriented Programming Concepts.
												ol
													li Encapsulation
													li Data Hiding	
													li Abstraction
													li Polymorphism
													li Inheritance
													li Constructor
													li singleton pattern
											li Exception Handling 
												ol
													li Checked vs Unchecked Exception
													li Handling Exception using try-catch
													li throws keyword
													li finally block
													li Custom Exceptions
											li Collection Framework 
												ol
													li Introduction
													li Different Interfaces of Collection
													li Methods of Collection
													li Methods of List Interface
													li Methods of Set interface
													li Methods of Queue Interface
													li Intro to ArrayList, LinkedList, Vector, Stack, their methods and constructors
													li Intro to HashSet, LinkedHashSet, TreeSet 
													li Intro to PriorityQueue, BlockingQueue
													li Intro to Map interface and its methods
													li Intro. to HashMap, LinkedHashMap and TreeMap 
													li Iterators in Collection
													li comparable and comparator 
									h3 Selenium
									.after-affect-1
									.syllabus-list
										ol
											li Introduction to Selenium
											li Components of Selenium: IDE, RC, WebDriver, Grid
											li Introduction to WebDriver
											li WebDriver interface and its methods.
											li How to launch different browsers using Selenium
											li Launching url
											li Introduction to WebElements
											li Finding WebElements using different locator strategies
											li Introduction to XPATH:
												ol
													li Absolute vs Relative XPATH
														li Writing Dynamic XPATH 
													li XPATH functions 
													li XPATH Axeses 

											li Introduction to CSSSelector 
												ol  	
													li Functions of CSSSelector 
													li Different symbols of CSSSelector 
											li Handling Radio buttons, Checkboxes, links and buttons
											li Handling dropdown using Select class
											li Handling Windows and Frames
											li Handling Alerts and Popups
											li Waits in Selenium (Implicit and Explicit)
											li Handling Mouse and Keyboard actions
											li Robot class
											li Exceptions of Selenium
											li Taking Screenshot using AShot and Selenium
											li File upload and download using Autolt 	 		
									h3 TestNG
									.after-affect-1 
									.syllabus-list 	
										ol
											li Introduction to TestNG
											li Different annotations of TestNG
											li Introduction to textng.xml file
											li Different parameters of @Test annotation
											li Writing first testcase
											li Failing first test case
											li Assertions (SoftAssert and Hard Assert)
											li Creating dependency (Hard Dependancy and Soft Dependancy)
											li Groups in TestNG
											li Parameterization in TestNG        
											li DataProvider in TestNG
											li Providing data from Excel, CSV and properties file
											li Cross browser Testing
											li Taking screenshot when test fails 
											li Different Listeners in TestNG 
									h3 Cucumber 5
									.after-affect-1 
									.syllabus-list 	
										ol
											li Introduction to BDD
											li Story of 3 amigos
											li Installation of Cucumber
											li Different Gherkin keywords
											li Writing StepDefinitions
											li Cucumber Expressions: 
												ol
													li Parameter types
													li Custom Parameter types
													li Optional text
													li Alternative text
											li Checking Assertions
											li Data Tables
											li Hooks
											li Tags
											li Cucumber Reporting
											li Integration of Extent Report with Cucumber 5      		     
								.download-syllabus   
									//- a(href="../public/images/syllabus/Java-Selenium2020 Syllabus" download)	download syllabus
									//- 	button download 
									a(href="../public/images/syllabus/Java_Selenium2020_Syllabus" download ="Java_Selenium2020_Syllabus.pdf") download syllabus  
										<i class="fa fa-download" aria-hidden="true"></i>


					.col-lg-4
						.right-body
							.contact-us
								.form-header
									p.text Enquire About Java Full Stack Developer Course
									small Call us now or send us your information
								.form-body
									.call-number
										i.fa.fa-phone(aria-hidden="true")
										a(href="tel:9130502135") + 91 9130502135
									.input-group
										input.form-control(type="text", placeholder="First Name")
									.input-group
										input.form-control(type="text", placeholder="Last Name")
									.input-group
										input.form-control(type="text", placeholder="Email ID")
									.input-group
										input.form-control(type="text", placeholder="Mobile Number")
									.input-group
										input.form-control(type="text", placeholder="Course Interested In")
									.input-group
										button.submit  submit 
										//  <button class="submit">cancel</button> 
							.student-review
								.card-head
									h6 Full Stack Java Developer Course Reviews
								.review-section
									.student-img
										img(src="/images/team/user-2.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/user-1.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/user-3.png", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
								.review-section
									.student-img
										img(src="/images/team/IMG_1242-1.jpg", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.	
								.review-section
									.student-img
										img(src="/images/team/team.jpg", alt)
									.student-info
										span Yohani  De Silva 
										p Full Stack Web Developer,(Pune)
									.student-rating
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star(aria-hidden="true")
										i.fa.fa-star-half-o(aria-hidden="true")
									p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.		

	include ../include/footer.pug


		link#enlighten-lite-dynamic-fonts-css(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&ver=4.9.8", type="text/css", media="all")
		script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3")
		script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215")
		script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215")
		script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")