<!DOCTYPE html>
<html lang="en-US">
head
  include ../include/head.pug
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel="stylesheet", href="/css/updated.css")
  //- title Java Full Stack

  body
  include ../include/nav.pug
    section.mentor-section
      .container
        .row
          .col-lg-8
            #enlighten-breadcrumb
              a(href="/") Home  > 
                span.current Cours  > 
                span.current React
            .course-introduction
              p.course-title MERN stack Development
              .course-rating
                span
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star-half-o(aria-hidden="true")
                |355 Ratings
                span 3065 Learners
              p.course-description A complete hands-on course is designed to give you an essence of front-end, middleware, and back-end Javascript web developer technologies. You will learn to build an end-to-end application, test and deploy code using React as front-end framework and Express framework for api using NODE JS  as Server environment including Nginx as reverse proxy , store data using MongoDB, and much more.							
              span.highlighter
                img(src="/images/background/verification.png", alt)
                |100% Job Guarantee | Minimum CTC: ₹ 5 LPA
          .col-lg-4
            .course-mentor
              .mentor
                img.mentor-img(src="/images/team/team.jpg", alt )
              p.mentor-name Deepak Shinde
              p.mentor-rating
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star-half-o(aria-hidden="true")
              p.mentor-designation Java Developer (6.5 Y)
    .container
      .row
        .key-feature
          h3 key-feature
          .after-affect-1

          ul.key-flex
            li Course Duration : 5 Months
            li 100Hrs of Hands-on training 
            li HTML 5,  CSS 3 and Javascript coverage.
            li API Development
            li React JS with Redux Application Development 
            li Addon Topic Like PUG, Bootstrap 4+.
            li Mongoose ,NPM etc
            li 100% project based Learning
            li live project

    section.course-detail
      .container
        .row
          .col-lg-8
            .left-body
              .course-info
                div
                  h3 Why Learn MERN Full Stack Development Course in Pune at Testing Shastra
                  ul.specification-list
                    li After completing every topic you will get the practical assignments for the practice.
                    li Post course completion candidate get the support.
                    li 100% Practical Oriented Sessions.
                    li Get best java classes in Pune at Testing Shastra.
                    li Project Based Learning.
                    li Provide ready to deploy candidates to the company.
                    li 120+ Students Placed in different Organizations.
                    li Provide ready to deploy candidates to the company.
                .bottom-line
                .you-tube
                  h5 watch our demo session on YouTube
                  .move-right
                    a(href="https://www.youtube.com/channel/UCg_SUG_BAPtVUvTSKse2xBg/search?query=day-1" target="blank")
                      i.fa.fa-youtube-play(aria-hidden="true")  Click Here Now To Get Your Free Demo
              .available-section
                .available-sec-head
                  h2 MERN Full Stack Development Course Available In:
                .available-section-body
                  ul
                    li class room
                    li online
                    li weekend batch
                    li regular batch
                    li syllabus 
                      i.fa.fa-chevron-down(aria-hidden="true")
              .course-benefits
                h4.benefits-head course-benefits
                .bottom-line
                ul.benefits-list
                  li By the end of this course you will be able to  use Front end skills like HTML 5,CSS 3,SCSS & Javascript to Design and Develop Dynamic web applications.
                  li Also you will build the front end with React Js Including bootstrap 4+ framework. 
                  li By the end of this course you will be able to use back end skills like Node Js, Express JS, PUG, Mongoose, MongoDB to Design and Develop Dynamic web applications. 
                  li By the end of this course You will be able to design and Develop REST APIs using Node JS.
                  li You will be a full stack MERN Developer By the end of this course.
              .Syllabus-section
                .Syllabus-header
                  h3 MERN Full Stack Development CourseSyllabus
                  .bottom-line
                .Syllabus-sub-header
                  h3 MERN Full Stack Development Course
                  ul
                    li HTML 5
                    li CSS 3
                    li JavaScript ES5, ES6.
                    li MongoDB
                    li NODE JS(EXPRESS JS + MONGODB)
                    li React js

                .syllabus-body 
                  h3 HTML 5
                  .after-affect-1
                  .syllabus-list
                    ol
                      li HTML intro
                      li How Browser Works 
                      li HTTP and HTML Tree
                      li Nodes Structure
                      li Basic Display Tags  
                      li Nesting In HTML  
                      li Inheritance Of tags 
                      li List In Html
                      li Table in Html
                      li Advance Table Logic
                      li Semantic Elements
                      li HTML 5 More tags
                      li Special Characters in HTML 5
                  h3 CSS-3
                  .after-affect-1
                  .syllabus-list
                    ol
                      li CSS 3 Intro
                      li How CSS Works
                      li CSS History
                      li Types Of CSS
                      li Specificity Magnitude
                      li Advance Selector Types
                      li Box Model
                      li Text Properties
                      li Common CSS Properties
                      li Display In CSS Property
                      li Flex Box
                      li Backgrounds
                      li CSS Positions
                      li CSS Animation 2D
                      li CSS Animation 3D
                      li Pseudo Classes
                      li Pseudo Elements
                      li Rules in CSS
                      li Responsive In CSS
                      li SCSS		
                  h3 Javascript
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Basics Part-1
                      li Basics Part-2
                      li JS Native Object and Classes
                      li Event Loop
                      li Arrays and logic.
                      li Strings and Logic
                      li Date and Logic
                      li Custom Objects.
                      li Callback Function
                      li Event Management.       
                      li Functional Programming.
                      li Prototyping 
                      li Static Method
                      li SET and GET
                      li Inheritance
                      li Method Overriding 
                      li Poly Forms
                      li Object/Prop/Methods
                      li Process.
                      li Code Normalization. 
                      li Asynchronous.
                      li File Handling.      
                      li Local Storage
                      li Cookies  
                      li Promises in JS
                      li Async and Await, Fetch
                      li Parallax Effects 
                  h3 NODE JS(EXPRESS JS + MONGODB)
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li NODE Into
                      li Modules
                      li System Module
                      li 3rd  Party Module NPM
                      li Custom Module
                      li Files System In Node 
                      li Express JS (Intro)
                      li Basic Application With MVC
                      li Form Handling
                      li Session in Node
                      li Introduction To MongoDB
                      li Mongoose Helper
                      li Basic Query
                      li CRUD in Node 
                      li Node + AJAX
                      li File Handling
                      li JWT
                      li Cookies 
                      li Crypto In Node JS
                      li Emailing 
                      li SMS Gateway
                      li Payment Gateway
                      li Node With PM2
                      li Reverse Proxy
                      li NodeJs + NGINX
                      li Load Balancing
                      li Deployment Of Project On Hosting with Cpanel 
                      li Deployment Of Project On Hosting without Cpanel
                  h3 React JS(ReactJS + MONGODB)
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li React Into
                      li React Components
                      li JSX
                      li Props and state in react js
                      li React Routing
                      li Axios With React 
                      li React Form Handling
                      li Redux
                      li Redux With React
                      li Combining Reducers
                      li Redux Thunk
                      li Animation in React
                      li Auth In React
                      li API Handling And Client Communication CORS
                      li Building and Deploying React Applications.


                .download-syllabus   
                  //- a(href="../public/images/syllabus/Java-Selenium2020 Syllabus" download)	download syllabus
                  //- 	button download 
                  a(href="../public/images/syllabus/Java-Selenium2020 Syllabus" download) download syllabus  
                    <i class="fa fa-download" aria-hidden="true"></i>


          .col-lg-4
            .right-body
              .contact-us
                .form-header
                  p.text Enquire About Java Full Stack Developer Course
                  small Call us now or send us your information
                .form-body
                  .call-number
                    i.fa.fa-phone(aria-hidden="true")
                    a(href="tel:9130502135") + 91 9130502135
                  .input-group
                    input.form-control(type="text", placeholder="First Name")
                  .input-group
                    input.form-control(type="text", placeholder="Last Name")
                  .input-group
                    input.form-control(type="text", placeholder="Email ID")
                  .input-group
                    input.form-control(type="text", placeholder="Mobile Number")
                  .input-group
                    input.form-control(type="text", placeholder="Course Interested In")
                  .input-group
                    button.submit submit
                    //  <button class="submit">cancel</button> 
              .student-review
                .card-head
                  h6 Full Stack Java Developer Course Reviews
                .review-section
                  .student-img
                    img(src="/images/team/user-2.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/user-1.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/user-3.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/IMG_1242-1.jpg", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.	
                .review-section
                  .student-img
                    img(src="/images/team/team.jpg", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.		

  .scrollTop
    <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>

  include ../include/footer.pug


    link#enlighten-lite-dynamic-fonts-css(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&ver=4.9.8", type="text/css", media="all")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")







