<!DOCTYPE html>
<html lang="en-US">
	include ../include/head.pug
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<body class="page-template-default page page-id-242 wp-custom-logo">
		style.
			.header-banner-container {
				background-color: #2d7fc7;
				background-repeat: no-repeat;
			}

			.title_two,
			.portfolio_slider_wrap .anchor_title_wrap a:hover,
			#section_achieve .bg_achieve .wrap_counter .counter_count,
			#section_faq_testimonial .faq_wrap .faq_title,
			#section_faq_testimonial .test_wrap .title_test,
			#section_cta .button_cta a:hover,
			.entry-footer a:hover,
			.entry-footer a:focus,
			.entry-footer a:active,
			ul#follow_us_contacts li a:hover i,
			.rn_title a:hover,
			.woocommerce ul.products li.product .price,
			.woocommerce div.product p.price,
			.woocommerce div.product span.price {
				color: #2D7FC7;
			}

			.widget ul li:hover:after,
			.widget ul li a:hover,
			#secondary .footer_RN_wrap .tn_title a:hover,
			#primary .entry-title a:hover,
			.contact-info-wrap ul li a:hover {
				color: rgba(45, 127, 199, 0.8);
			}

			.main-navigation,
			.main-navigation.top ul ul,
			#section_service .service_slider.owl-carousel,
			.wrap_video .video_wrap .play-pause-video,
			#section_cta,
			.recent_news .rn_title_content .ln_date,
			#section_news_twitter_message .twitter_wrap,
			.faq_dot:before,
			.main-navigation ul ul.sub-menu>li>a,
			.search-form:before,
			#secondary h2.widget-title:before,
			.nav-links a,
			.contact-form-wrap form input[type="submit"],
			.woocommerce span.onsale,
			.woocommerce #respond input#submit,
			.woocommerce #respond input#submit.alt,
			.woocommerce a.button.alt,
			.woocommerce button.button.alt,
			.woocommerce input.button.alt,
			.woocommerce-account .woocommerce-MyAccount-navigation ul {
				background: #2D7FC7;
			}

			.service_slider .content_wrap .title_content_service {
				color: #d5e5f4;
			}

			.service_slider.owl-carousel .owl-controls .owl-nav div {
				color: #d5e5f4;
			}

			.service_slider .content_wrap:after {
				background: #abcce9;
			}

			.service_slider.owl-carousel:before,
			#section_cta .title_section_cta,
			.twitter_wrap .aptf-single-tweet-wrapper {
				border-color: #abcce9;
			}

			#section_news_twitter_message .recent_news .rn_content_loop .rn_image,
			.contact-form-wrap form input[type="submit"]:hover,
			#section_news_twitter_message .recent_news .rn_content_loop .rn_image:hover span,
			.woocommerce #respond input#submit.alt:hover,
			.woocommerce a.button.alt:hover,
			.woocommerce button.button.alt:hover,
			.woocommerce input.button.alt:hover {
				background: rgba(45, 127, 199, 0.65);
			}

			.main-navigation ul ul li,
			.main-navigation ul ul ul li {
				background: rgba(45, 127, 199, 0.8);
			}

			.portfolio_slider_wrap.owl-carousel .owl-controls .owl-dot.active span,
			.portfolio_slider_wrap.owl-carousel .owl-controls .owl-dot span:hover,
			#section_faq_testimonial .faq_cat_wrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
			#section_faq_testimonial .faq_cat_wrap .bx-wrapper .bx-pager.bx-default-pager a.active,
			#secondary .search-form .search-submit,
			#primary .error-404.not-found .search-form .search-submit,
			.not-found .search-form .search-submit,
			.site-footer .widget_search .search-submit,
			ul#follow_us_contacts li a:hover i {
				border-color: #2D7FC7;
			}

			.woocommerce-account .woocommerce-MyAccount-navigation ul li {
				border-color: #abcce9
			}

			#section_news_slide,
			#section_faq_testimonial .test_faq_wrap .faq_question.expanded .plus_minus_wrap,
			#section_faq_testimonial .test_faq_wrap .faq_question.expanded .plus_minus_wrap:before,
			#section_news_twitter_message .recent_news .rn_title,
			#section_news_twitter_message .messag_wrap .rn_title {
				background: #2D7FC7;
			}

			body,
			body p {
				font-family: Lato;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: Titillium Web;
			}
			.sub-title{
				color:#000;
				text-transform: none;
				font-family:"Lato";
			}

			.main-navigation a {
				font-family: Open Sans;
			}
			.notes-list >ul{
				margin-top:30px;
			}			
			.notes-list >ul>li {
				margin-top:10px;
				font-size:15px;
				border-top :1px solid lightgray;
				padding:5px 0px;
				list-style:none;
			}
			.notes-list> ul>li>a:hover{
				color:#000;
				cursor:pointer;
				text-decoration-line: underline;
			}	
			.header-banner-container:after{
				background:#f3f3f3;
			}
			.outer-div{
				background:#ffffff;
				width:100%;
				padding:30px;
				box-shadow:0px 0px 5px #c3c3c39a;
				border-radius:5px;
			}
			#ul-style{
				color:#000;
			}
			a:hover{
				color:#2d7fc7 ! important;
				text-decoration-line:underline;
			}

			.interview-questions-list>p{
				text-align:center;
				font-weight:bold;
				color:black;
				text-decoration-line:underline;
			}
			.interview-questions-list ul{
				margin-top:30px;
				margin-bottom:10px;
			}			
			.interview-questions-list ul>li {
				font-size:15px;
				padding:15px 0px;
				color:red;	
				list-style-type: decimal;
		
			}
			.interview-questions-list ul>li>a:hover{
				color:#000;
				cursor:pointer;
				text-decoration-line: underline;
			}

		<div id="page" class="site">
			<a class="skip-link screen-reader-text" href="#main">Skip to content</a>
			<header id="masthead" class="site-header" role="banner">
				include ../include/nav.pug
			</header><!-- #masthead -->
			
			<div class="header-banner-container">
				<div class="ak-container">
					<div class="page-title-wrap">
						<div class="outer-div">
							//- <h1 class="page-title" style="color:#000">Downloads</h1>
							
							<div id="enlighten-breadcrumb" style="color:#000"><a href="/" style="color:#000">Home</a> &gt; <span class="current">Notes</span></div>
							<h4 class="sub-title">Notes and Interview Questions for Professionals</h4>
							<div class="notes-list" >
								<ul type="disc" id="ul-style">	
									<li><strong>Notes</strong></li>
									<li><a  href="../notes/java-basics.pdf" target="_blank">Java Basics</a></li>
									<li><a  href="../notes/array.pdf" target="_blank">Array</a></li>
									<li><a  href="../notes/string_stringbuffer_stringbuilder.pdf" target="_blank">String, StringBuffer, StringBuilder</a></li>
									<li><a  href="../notes/oops-concepts.pdf" target="_blank">OOP Concepts</a></li>
									<li><a  href="../notes/exception-handling.pdf" target="_blank">Exception Handling</a></li>
									<li><a  href="../notes/collection-framework-new.pdf" target="_blank">Collection API</a></li>	
									<li><a  href="../notes/map.pdf" target="_blank">Map in Java</a></li>
									<li><a  href="../notes/jxl-api.pdf" target="_blank">JXL API</a></li>
									<li><a  href="../notes/waits-in-selenium.pdf" target="_blank">Waits in Selenium</a></li>
									<li><strong>Assignments</strong></li>
									<li><a  href="../notes/string-assignment.pdf" target="_blank">String Assignments</a></li>
								</ul>
								<hr>
							</div>

							<div class="interview-questions-list">
								<p>Company wise Interview Questions</p>
								<ul class="qp-list">	
									<li><a  href="../interview_questions/bosch.pdf" target="_blank">Bosch</a></li>
									<li><a  href="../interview_questions/capgemini.pdf" target="_blank">Capgemini</a></li>
									<li><a  href="../interview_questions/capgemini_1.pdf" target="_blank">Capgemini_1</a></li>
									<li><a  href="../interview_questions/carpro.pdf" target="_blank">CarPro</a></li>
									<li><a  href="../interview_questions/cassiopae.pdf" target="_blank">Cassiopae</a></li>
									<li><a  href="../interview_questions/fss-tech.pdf" target="_blank">FSS Tech</a></li>	
									<li><a  href="../interview_questions/honeywell.pdf" target="_blank">Honeywell</a></li>
									<li><a  href="../interview_questions/infostrech.pdf" target="_blank">InfoStrech</a></li>
									<li><a  href="../interview_questions/nihilent.pdf" target="_blank">Nihilent</a></li>
								</ul>
							
								<p>Topic wise Interview Questions</p>
								<ul class="qp-list">
									<li><a  href="../interview_questions/cucumber-interview-questions.pdf" target="_blank">Cucumber Interview Question Answers</a></li>
								</ul>
							</div>
						</div>	
					</div>	
				</div>
			</div>


	include ../include/footer.pug
		</div><!-- #page -->

		<link rel='stylesheet' id='enlighten-lite-dynamic-fonts-css' href='https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&#038;ver=4.9.8' type='text/css' media='all' />
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215'></script>
		<script type='text/javascript' src='https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>