<!DOCTYPE html>
<html lang="en-US">
head
  include ../include/head.pug
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
  link(rel="stylesheet", href="/css/updated.css")
  //- title Java Full Stack

  body
  include ../include/nav.pug
    section.mentor-section
      .container
        .row
          .col-lg-8
            #enlighten-breadcrumb
              a(href="/") Home  > 
                span.current Cours  > 
                span.current React
            .course-introduction
              p.course-title Python Selenium automation testing
              .course-rating
                span
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star(aria-hidden="true")
                  i.fa.fa-star-half-o(aria-hidden="true")
                |355 Ratings
                span 3065 Learners
              p.course-description A complete hands-on course which covers scripting using Core Python and basic-to-advanced concepts of Selenium WebDriver. Test automation is an enormous time-saver, and it's crucial to continuous integration, continuous delivery, and agile software development.		
              span.highlighter
                img(src="/images/background/verification.png", alt)
                |100% Job Guarantee | Minimum CTC: ₹ 5 LPA
          .col-lg-4
            .course-mentor
              .mentor
                img.mentor-img(src="/images/team/image1-home5-e1591723182560.png", alt )
              p.mentor-name Avinash pingale
              p.mentor-rating
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star(aria-hidden="true")
                i.fa.fa-star-half-o(aria-hidden="true")
              p.mentor-designation Python Developer (6.5 Y)
    .container
      .row
        .key-feature
          h3 key-feature
          .after-affect-1

          ul.key-flex
            li Course Duration : 3.5 Months
            li 100Hrs of Hands-on training 
            li Complete Python coverage including.
            li Selenium WebDriver 3.0
            li Start-To-End Framework Designing 
            li Addon tools like, Pytest Framework
            li Project Based Learning
            li Git and Jenkins
            li Live Project
    section.course-detail
      .container
        .row
          .col-lg-8
            .left-body
              .course-info
                div
                  h3 Why Learn Python-Selenium Course in Pune at Testing Shastra
                  ul.specification-list
                    li After completing every topic you will get the practical assignments for the practice.
                    li Post course completion candidate get the support.
                    li 100% Practical Oriented Sessions.
                    li Get best java classes in Pune at Testing Shastra.
                    li Project Based Learning.
                    li Provide ready to deploy candidates to the company.
                    li 120+ Students Placed in different Organizations.
                    li Provide ready to deploy candidates to the company.
                .bottom-line
                .you-tube
                  h5 watch our demo session on YouTube
                  .move-right
                    a(href="https://www.youtube.com/channel/UCg_SUG_BAPtVUvTSKse2xBg/search?query=day-1" target="blank")
                      i.fa.fa-youtube-play(aria-hidden="true")  Click Here Now To Get Your Free Demo
              .available-section
                .available-sec-head
                  h2 Python-Selenium Course Available In:
                .available-section-body
                  ul
                    li class room
                    li online
                    li weekend batch
                    li regular batch
                    li syllabus 
                      i.fa.fa-chevron-down(aria-hidden="true")
              .course-benefits
                h4.benefits-head course-benefits
                .bottom-line
                ul.benefits-list
                  li By the end of this course you will be able to automate any web application using Python and Selenium. 
                  li You will be able to design different Test Automation Frameworks like: Page Object Model, BDD using Cucumber etc based on client requirement.
                  li You will be able to generate content rich reports using reporting tool like Allure.
                  li Atlast, you can crack any interview in the field of Automation Testing and can successfully secure a position in IT.
              .Syllabus-section
                .Syllabus-header
                  h3 Python-Selenium Course Syllabus
                  .bottom-line
                .Syllabus-sub-header
                  h3 Python-Selenium Course
                  ul
                    li Basic of Python, Python program structure.
                    li Elements of python language.
                    li The Python Interpreter.
                    li Data Types and Control Flow.
                    li Class in Python, functions.
                    li Inheritance, Errors and Exceptions,  Modules,  Input and Output,  Assertions,  PIP.
                    li Utilities like: Excel Reading, Log generation, sending Automation email, Database connectivity etc.
                    li Basics of Selenium WebDriver 3.0
                    li Advanced concepts of Selenium WebDriver 3.0
                    li Pytest Framework ,Parallel test execution.
                    li Data Driven Framework.
                    li Page Object Model Design Pattern.
                    li Behave BDD Framework.
                .syllabus-body 
                  h3 Python Basics part-I 
                  .after-affect-1
                  .syllabus-list
                    ol
                      li Python program structure 
                      li Elements of python language 
                      li Running first program in python 
                      li writing first java program 

                  h3 Python Basics Part-II 
                  .after-affect-1
                  .syllabus-list
                    ol
                      li Introduction to data types Control Flows 
                      li Operators 
                      li Functions and Variables  Data Structures 
                      li Lists and More   
                  h3 Python Basics Part-III (OOPS Concept) 
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Classes 
                      li Names and Objects 
                      li Inheritance 
                      li Iterators 
                      li Generators 
                      li Python Standard Libraries 
                  h3 Python Basics Part-IV 
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Errors and Exceptions 
                      li Modules 
                      li Input and Output 
                      li Assertions 
                      li PIP 
                  h3 Locators  
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li What are locators 
                      li Types of locators  
                      li Examples of using Locators 
                      li Advantages and disadvantages of using locators  

                  h3 Web Driver Part-I  
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Introduction of Web Driver 
                      li Download & configuring Web driver 
                      li The architecture of selenium web driver 
                      li Drivers for Firefox, IE, chrome, I-phone, Android
                      li First Selenium Code  
                      li Introduction to basic commands like get/navigate 
                      li Exception Handling in Selenium 
                  h3 Web Driver Part-II  
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Working with web page elements/Controls o Dropdown 
                      li Listbox 
                      li Radio buttons 
                      li Multi-select box o Date picker 
                      li Combobox widget 
                      li Introducing wait – implicit and explicit wait 
                      li Handling different browsers – Firefox, Chrome and Internet Explorer browser 
                      li Taking screenshots 
                      li Handling Java script alerts, confirmations and prompts 
                  h3 Web Driver Part-III 
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li Working with Windows, Tabs and Frames 
                      li Working with static and dynamic Web tables 
                      li ACTIONS CLASS FOR MOUSE AND KEYBOARD ACTIONS 
                  h3 Web Driver Part-IV 
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li File Upload and Download 
                      li Working with Proxy APIs PyTest Framework 
                      li Introduction to PyTest framework 
                      li Installing PyTest 
                      li PyTest Fixtures 
                      li Running multiple tests using PyTest 
                      li Generating Test 
                      li report Data-Driven Testing
                      li Reading and writing data from Excel/XML 
                      li Writing automation scripts to use excel data Page Object Model (POM) 
                      li What is Page Object Model (POM) 
                      li Concept of Object Repository 
                      li Need for POM 
                      li Page Factory
                      li Implementing POM 
                      li Automation Framework Basics                      
                  h3 Introduction to Jenkins  
                  .after-affect-1 
                  .syllabus-list 	
                    ol
                      li What is Jenkins 
                      li Installation and configuration of Jenkins  
                      li Plugins in Jenkins 
                      li Setting up a Jenkins Job 
                      li Manage Jenkins Job 



                .download-syllabus   
                  //- a(href="../public/images/syllabus/Java-Selenium2020 Syllabus" download)	download syllabus
                  //- 	button download 
                  a(href="../public/images/syllabus/Java-Selenium2020 Syllabus" download) download syllabus  
                    <i class="fa fa-download" aria-hidden="true"></i>


          .col-lg-4
            .right-body
              .contact-us
                .form-header
                  p.text Enquire About Java Full Stack Developer Course
                  small Call us now or send us your information
                .form-body
                  .call-number
                    i.fa.fa-phone(aria-hidden="true")
                    a(href="tel:9130502135") + 91 9130502135
                  .input-group
                    input.form-control(type="text", placeholder="First Name")
                  .input-group
                    input.form-control(type="text", placeholder="Last Name")
                  .input-group
                    input.form-control(type="text", placeholder="Email ID")
                  .input-group
                    input.form-control(type="text", placeholder="Mobile Number")
                  .input-group
                    input.form-control(type="text", placeholder="Course Interested In")
                  .input-group
                    button.submit submit
                    //  <button class="submit">cancel</button> 
              .student-review
                .card-head
                  h6 Full Stack Java Developer Course Reviews
                .review-section
                  .student-img
                    img(src="/images/team/user-2.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/user-1.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/user-3.png", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.
                .review-section
                  .student-img
                    img(src="/images/team/IMG_1242-1.jpg", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.	
                .review-section
                  .student-img
                    img(src="/images/team/team.jpg", alt)
                  .student-info
                    span Yohani  De Silva 
                    p Full Stack Web Developer,(Pune)
                  .student-rating
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star(aria-hidden="true")
                    i.fa.fa-star-half-o(aria-hidden="true")
                  p I have completed web-develoment and Java Full Stack course from Testing shastra. Testing shastra is one of the best institute to improve your skills.Teaching staff is also good.It is best place to learn practical knowledge.		

  include ../include/footer.pug


    link#enlighten-lite-dynamic-fonts-css(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato%7CTitillium+Web%7COpen+Sans&ver=4.9.8", type="text/css", media="all")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/navigation.js?ver=20151215")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-content/themes/enlighten/js/skip-link-focus-fix.js?ver=20151215")
    script(type="text/javascript", src="https://demo.accesspressthemes.com/enlighten/wp-includes/js/wp-embed.min.js?ver=4.9.8")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")