//- <footer id="colophon" class="site-footer" role="contentinfo">
//-   <div class="ak-container">
//-     <div class="footer_area clearfix">
//-     <div class="footer_area_one">
//-       <section id="text-3" class="widget widget_text">
//-       <div class="textwidget">
//-         <div class="footer_content_area">
//-         <img src="/images/logo 1.png" />
//-         </div>
//-       </div>
//-       </section>
//-     </div>
//-     <div class="footer_area_two">
//-       <section id="enlighten_recent_news-6" class="widget widget_enlighten_recent_news">
//-       <div class="footer_RN_wrap">
//-         <div class="rn_post_wrap no_image">
//-         <div class="rn_post_loop">
//-           <div class="title_content_wrap">
//-           <div class="tn_title">
//-             <a href="#">Our Courses</a>
//-           </div>
//-           <div class="rn_content">
//-             <ul>
//-             <li>Automation Tesing-Java</li>
//-             <li>Java Full Stack Development</li>
//-             <li>Automation Testing-Python</li>
//-             <li>Angular 8</li>
//-             </ul>
//-           </div>
//-           </div>
//-         </div>
//-         </div>
//-       </div>
//-       </section>
//-     </div>
//-     <div class="footer_area_three">
//-       <section id="enlighten_info-3" class="widget widget_enlighten_info">
//-       <div class="footer_info_wrap">
//-         <div class="footer_widget_title">
//-         Quick Contact
//-         <div class="faq_dot"></div>
//-         </div>

//-         <div class="info_wrap">
//-         <div class="location_info">
//-           <span class="fa_icon_info"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
//-           <span class="location">Vidya Nagar, New Sangvi, Pune</span >
//-         </div>
//-         <div class="phone_info">
//-           <span class="fa_icon_info"><i class="fa fa-phone" aria-hidden="true"></i></span>
//-           <span class="phone">+91-9130502135</span>
//-         </div>

//-         <div class="email_info">
//-           <span class="fa_icon_info"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
//-           <span class="email">info@testingshastra.com</span>
//-         </div>
//-         </div>
//-       </div>
//-       </section>
//-     </div>
//-     </div>
//-   </div>
//- </footer>

footer
  .main-footer
    .container
      .row
        .col-lg-6
          .footer-logo
            img(src="/images/background/ts text (1).png", alt)
          .footer-text
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, tempora modi? Rerum, distinctio. Quasi eos explicabo unde voluptates quod minus deserunt optio provident nobis dolorum!
          .footer-social-link
            .footer-social-media
              ul
                li
                  i.fa.fa-linkedin-square

                li
                  i.fa.fa-facebook-square(aria-hidden="true")
                li
                  i.fa.fa-instagram(aria-hidden="true")
              span.play-store
                a(href="https://play.google.com/store/apps/details?id=co.khal.uvsug", target="blank")
                  img(src="/images/background/play-store.png", alt)
        .col-lg-3
          .footer-course
            h3 OUR COURSES
            ul
              li Automation Testing-Java
              li Java Full Stack Development
              li Automation Testing-Python
              li Angular 8
              li MERN Stack Development 
        .col-lg-3
          .footer-contact
            h3 CONTACT
            ul
              li
                i.fa.fa-map-marker(aria-hidden="true")
                |  Vidya Nagar, New Sangvi, Pune

              li
                i.fa.fa-phone(aria-hidden="true")
                |  +91-9130502135
              li
                i.fa.fa-envelope-o(aria-hidden="true")
                |  info@testingshastra.com
      .footer-bottom-line