.scrollTop
  <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>

footer
  .main-footer
    .container
      .row
        .col-lg-6
          .footer-logo
            img(src="/images/background/ts text (1).png", alt)
          .footer-text
            p Testing Shastra is Pune based leading Software Training Institute. We are committed to provide best in market training with 100% placement guarantee.
          .footer-social-link
            .footer-social-media
              ul
                li
                  a(href="https://www.linkedin.com/in/testing-shastra-7960201a2" , target="blank")
                    i.fa.fa-linkedin-square
                li
                  a(href="https://m.facebook.com/ts.avinashpingale/" , target="blank")
                    i.fa.fa-facebook-square(aria-hidden="true")
                li
                  a(href="https://www.instagram.com/testingshastra/" , target="blank")    
                    i.fa.fa-instagram(aria-hidden="true")
                li
                  a(href="https://www.youtube.com/channel/UCg_SUG_BAPtVUvTSKse2xBg" , target="blank")    
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>    
            .play-store-app-list  
              .play-store
                a(href="https://apps.apple.com/in/app/classplus/id1324522260", target="blank")
                  img(src="/images/background/app-store.png", alt).app-logo
              .play-store
                a(href="https://play.google.com/store/apps/details?id=co.khal.uvsug", target="blank")
                  img(src="/images/background/google-play.png", alt).app-logo   
        .col-lg-3
          .footer-course
            h3 OUR COURSES
            ul
              li 
                a(href="/course/automation-testing")  Automation testing (java)
              li 
                a(href="/course/python-selenium") Automation testing (python)
              li 
                a(href="/course/rest-api-developer") rest api testing
              li
                a(href="/course/java-full-stack") Java Full-Stack development
              li 
                a(href="/course/mern-stack") mern stack development
        .col-lg-3
          .footer-contact
            h3 CONTACT
            ul
              li
                i.fa.fa-map-marker(aria-hidden="true")
                  a(href="/contact-us") Vidya Nagar, New Sangvi, Pune
              li
                i.fa.fa-phone(aria-hidden="true")
                  a(href="tel:9130502135") +91-9130502135
              li
                i.fa.fa-envelope-o(aria-hidden="true")
                  <a target="_blank" href="mailto:info@testingshastra.com" class="custom-logo-link" rel="home" itemprop="url"> info@testingshastra.com
      .footer-bottom-line