<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="profile" href="https://gmpg.org/xfn/11" />

  <title>#{title}</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="all" />

  <link rel="stylesheet" href="/css/fonts-awesome/css/font-awesome.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/js/bxslider/jquery.bxslider.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css" type="text/css" media="all"/>

  <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="/js/superfish/superfish.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="/js/wow/animate.css" type="text/css" media="all"/>
  <link rel="stylesheet"  href="/js/youtube-video/jquery.mb.YTPlayer.css" type="text/css" media="all"/>
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")



  <script type="text/javascript" src="/js/jquery/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery-migrate.min.js" ></script>

  <script type="text/javascript" src="/js/jquery/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="/js/jquery/frontend.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.selectbox-0.2.min.js"></script>

  <script type="text/javascript" src="/js/youtube-video/jquery.mb.YTPlayer.js"></script>
  <script type="text/javascript" src="/js/superfish/superfish.js"></script>
  <script type="text/javascript" src="/js/sticky-sidebar/theia-sticky-sidebar.js"></script>
  <script type="text/javascript" src="/js/wow/wow.js"></script>
  <script type="text/javascript" src="/js/superfish/hoverIntent.js"></script>
  <script type="text/javascript" src="/js/waypoint/jquery.waypoints.js"></script>
  <script type="text/javascript" src="/js/bxslider/jquery.bxslider.js"></script>
  <script type="text/javascript" src="/js/owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="/js/counter-up/jquery.counterup.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  style.
    .site-title a,
    .site-description {
      color: #1e73be;
    }
    .error{
      color:red
    }
  script.
    window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
        if (document.body.scrollTop > 00 || document.documentElement.scrollTop > 140) {
          document.getElementById("navLogoScroll").style.display = "block";
          //- document.getElementById("site-navigation").style.background = "#2D7FC7";
        } else {
          document.getElementById("navLogoScroll").style.display = "none";
          //- document.getElementById("site-navigation").style.background = "rgb(31 57 104)";
        }
      }

  script.
    myButton = document.getElementById("myBtn");
      window.onscroll = function () { scrollFunction() };
      function scrollFunction() {
        if (document.body.onscroll > 50 || document.documentElement.scrollTop > 20) {
          if(myButton !== null)
            myButton.style.display = "block";
        } else {
          if(myButton !== null)
            myButton.style.display = "none";
        }
      }
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
  <link rel="icon" href="/i/mages/Favicon.png" sizes="32x32" />
  <link rel="icon" href="/images/Favicon.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/Favicon.png" />
  <meta name="msapplication-TileImage" content="/images/Favicon.png" />

</head>